body {
  background: #efefef;
  font-size: 100%;
  font-family: SegoeUISymbolRegular;
  background-image: url("");
}

* {
}



/*--------------------navbar----------------------------*/
.nav_bar {
  background-color: #j;
  border: 1px solid #000000;
  width: 860px;
  margin: auto;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px
  border-radius: 10px;
  text-align: center;
  margin-top: 10px; 
}

.nav_bar a {
  color: #000000;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;

}

.nav_bar a:hover {
  color: #000000;
  text-decoration: underline;
}
/*--------------------navbar----------------------------*/





/*--------------------form----------------------------*/
.form {
  padding: 0px 0px 0px;

}
.form-search-input {
  width: 0px;
  height: 55px;
  border: 0;
  outline: 0;
  font-size: 21px; 
  padding: 0px 0px 0px 0px;
  color: #151515;
}
.seach-input-open {
  width: 410px !important;
  padding: 0px 0px 0px 20px !important;
  display: initial !important;
}
.form-search-submit {
  display: inline-block;
  width: 55px;
  height: 43px;
  border: 0;
  outline: 0;
  background-color: #151515;
  font-size: 21px;
  color: white;
  cursor: pointer;
  text-align: center;
}
/*--------------------form----------------------------*/



.wrapper {
  font-size: 1.6em;
  padding: 2em;
  margin: 0 auto;
  width: 900px;
  height: 2000px;
  background-color: ;
}

h1 {
  font-family: Garamond;
}

.searchbox {
  top: -20px;
  left: 20px;
  background-color: white;
  width: 500px;

}

.box {
  display: inline-block;
  float:left;
}