body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  background-image: url("repeatPattern.png");



}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  font-size: 1.6em;
  padding: 2em;
  margin: 0 auto;
  width: 900px;
  height: 2000px;
  background-color: #E8E8E8;
}

h1 {
  font-family: Garamond;
}

.searchbox {
  top: -20px;
  left: 20px;
  background-color: white;
  width: 500px;

}

.box {
  display: inline-block;
  float:left;
}